/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */


/* Schrijf hier  jouw CSS! */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.one {
    display: flex;
    flex-direction: column-reverse;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.three li {
    padding: 0 10px;
}

.four {
    display:flex;
}

.four form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.four form label {
    margin-left: auto;
    margin-right:auto;
}

.five {
    display: flex;
    flex-wrap: wrap;
}

.five article {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 10px;
}